@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Comfortaa', sans-serif;
}

header {
    background-color: rgb(14, 14, 14);
    box-shadow: 0px 3px 10px #464646;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 5rem;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    color: aliceblue;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #fff;
    font-weight: 400;
}

.toggle-label {
    display: none;
}

.toggle-input {
    display: none;
}

.toggle-label::before {
    display: block;
    background-color: #fff;
    color: #000;
    padding: 8px 5px;
    cursor: pointer;
}



@media screen and (max-width: 600px) {
    .toggle-input:checked ~ .nav-list {
        display: block;
        flex-direction: column;
        background-color: rgb(14, 14, 14);
        position: absolute;
        top: 4rem;
        width: 100%;
        right: 0;
    }
    .nav-bar {
        padding: 1.5rem 4rem;
    }
.logo{
    font-size: small;
}
    .nav-list {
        display: none;
    }

    .toggle-label {
        display: inline-block;
        background-color: transparent;
        border: none;
        color: #fff;
        font-size: 1.15rem;
        padding: 8px 16px;
        cursor: pointer;
    }

    .toggle-label:focus {
        outline: none;
    }

    .nav-list.active {
        display: block;
        flex-direction: column;
        background-color: rgb(14, 14, 14);
        position: absolute;
        top: 4rem;
        width: 100%;
        right: 0;
        
    }

    .nav-list.active ul {
        flex-direction: column;
        align-items: flex-start;
    }
}
